@model IEnumerable<Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>
<p>
    @Html.ActionLink("NEW MEMBER", "New", "Members", null, new { @class = "btn btn-primary"})
</p>

@if (!Model.Any())
{
    <p>There are no members yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Member id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <td>@member.Id</td>
                    <td>@member.Firstname</td>
                    <td>@member.Lastname</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Members", new { id=member.Id }, new { @class="btn btn-link" })</td>
                    <td>
                        @using (Html.BeginForm($"DeleteMember/{member.Id}", "Members"))
                        {
                            <button type="submit" class="btn btn-link">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
