@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("NEW BOOK", "New", "Books", null, new { @class = "btn btn-primary"})
</p>

@if (!Model.Any())
{
    <p>There are no books added yet.</p>
}
else
{
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Book</th>
                <th>Release date</th>
                <th>Author</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.ReleaseDate.ToString("dd MMMM yyyy") </td>
                    <td>@book.Author.Firstname @book.Author.Lastname</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Books", new { id=book.Id}, new { @class = "btn btn-link" })</td>
                    <td>
                        @using (Html.BeginForm($"DeleteBook/{ book.Id }/", "Books"))
                        {
                            <button type="submit" class="btn btn-link">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

